.nav {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/picture/1-1Z10G016130-L.jpg");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav>div:nth-child(1) div {
    line-height: 50px;
}


/* iconcss */

.logo {
    margin: 43px 0;
    width: 100%;
}


/* iconcss */


/* 导航栏css */

.nice div {
    margin: 63px 0;
    padding: 0 20px;
    color: #ffffff;
    font-size: 1.5em;
    height: 50px;
    transition: 2s all;
}

.nice div>span:hover::after {
    content: "";
    width: 10px;
    height: 1px;
    display: block;
    background: #ffffff;
    position: relative;
    top: -26px;
    left: -15px;
}

.nice div>span:hover::before {
    content: "";
    width: 10px;
    height: 1px;
    display: block;
    background: #ffffff;
    position: relative;
    top: 24px;
    left: 101px;
}

.nice>div:nth-child(1)>span:hover::before {
    content: "";
    width: 10px;
    height: 1px;
    display: block;
    background: #ffffff;
    position: relative;
    top: 24px;
    left: 52px;
}

.nice>div:nth-child(4)>span:hover::before {
    content: "";
    width: 10px;
    height: 1px;
    display: block;
    background: #ffffff;
    position: relative;
    top: 24px;
    left: 123px;
}


/* 导航栏css */


/* 首页搜索框 */

.nav>div:nth-child(1)>div:nth-child(3) {
    margin: 64px 0;
    border: 1px solid #cccccc;
    height: 50px;
}

.nav input[type="text"] {
    padding: 0 10px;
    font-size: 1.3em;
    position: relative;
    top: -21px;
    width: 300px;
    height: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.nav input[type="submit"] {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/search.png") no-repeat;
    width: 40px;
    height: 100%;
    outline: none;
    background-size: 30px;
    background-position: 0 6px;
}


/* 首页搜索框 */


/* 导航栏添加下拉css */

ol {
    list-style-type: none;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    height: 0;
    background-color: rgb(24, 26, 26);
    overflow: hidden;
    transition: .5s all;
}

ol>li:nth-child(1)::before {
    width: 10px;
    height: 10px;
    background-color: aqua;
}

.zhuti>span:hover+ol {
    overflow: visible;
    height: 100px;
}

.shure>span:hover+ol {
    overflow: visible;
    height: 150px;
}


/* 导航栏添加下拉css */


/* 首页头部左下角 */

.d {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.d>.num {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    text-align: center;
    line-height: 100px;
    letter-spacing: -3px;
    color: #999999;
}

.blue {
    color: #00acfa;
}

.str {
    font-size: 2em;
    position: relative;
    top: 5px;
}

.font-2em {
    font-size: 2em;
}

.down {
    position: relative;
    top: 17px;
}

.jiantou {
    position: absolute;
    left: 300px;
    bottom: 0;
    font-size: 3em;
    color: red;
    line-height: 100px;
    filter: brightness(118%)
}

.yuandian {
    width: 10px;
    height: 10px;
    background-color: #00acfa;
    margin: auto 0;
    border-radius: 5px;
}


/* 首页头部左下角 */


/* 中间 */

.hui {
    background-color: #00acfa;
    width: 1300px;
    height: 860px;
    position: absolute;
    left: 0;
    top: 0;
}

.banner {
    left: 15.1%;
    top: 7%;
    height: 700px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.bac {
    text-align: left !important;
    color: #ffffff;
}

.bac div {
    margin: 58px 0 0 0;
    width: 100%;
    height: 100px;
    line-height: 35px;
}

.banner div img {
    width: 100%;
}

.banner>div {
    width: 347px;
    height: 347px;
    background-color: #00acfa;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.dis {
    line-height: 229px;
    color: #00acfa;
    font-size: 1.2em;
    position: relative;
}

.dis em {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/jiantou.png") no-repeat;
    display: block;
    background-size: 100%;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -24px;
    transition: 1s all;
}

.dis em:hover {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/jiantouh.png") no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    background-size: 100%;
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -24px;
}

.hei {
    width: 300px;
    height: 300px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 21px;
    left: 25px;
    animation: hei 0.5s;
}

.banner>div img:hover+.hei {
    display: block;
}

.hei:hover {
    display: block;
}

.hei h2 {
    color: #ffffff;
    margin: 20px;
    position: absolute;
    top: 34%;
}

@keyframes hei {
    from {
        top: 21px;
        left: -325px;
    }
    to {
        top: 21px;
        left: 25px;
    }
}


/* banner */

.bei1 {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/s2bg.jpg") no-repeat;
    background-size: 100% 1267px;
    width: 100%;
    height: 1267px;
}

.about {
    width: 1000px;
    text-align: left;
    line-height: 45px;
    position: absolute;
    top: 199px;
    left: 300px;
    color: #00acfa;
}

.about>div:nth-child(1) {
    color: #ffffff;
}

.about>.dis {
    position: absolute;
    top: 91px;
    left: 16px;
    animation: 1s infinite piao1 alternate;
}

@keyframes piao1 {
    from {
        left: 16px;
        top: 85px;
    }
    to {
        left: 16px;
        top: 95px
    }
}

.about+div {
    width: 1400px;
    height: 730px;
    position: absolute;
    top: 538px;
    left: 295px;
}

.about+div img {
    width: 100%;
}

.about+div em {
    height: 100%;
    width: 232px;
    background-color: rgba(0, 172, 250, 0.5);
    position: absolute;
    right: 0px;
}


/* 主题旅游 */

.color-w {
    color: #ffffff;
    padding: 100px 0 0 0;
}

.color-w>h1 {
    color: #00acfa;
}

.color-w>h1::after {
    content: "";
    display: block;
    width: 1px;
    height: 63px;
    background: #00acfa;
    left: 50%;
    position: relative;
    bottom: 0;
    margin: 20px 0 0 0;
}

.text-al-cent {
    text-align: center;
}

.lv {
    height: 259px;
}

.menban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    transition: 1s all;
}

.menban:hover {
    background-color: rgba(0, 0, 0, 0);
}

.zhonhjian {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 45%;
    left: 45%;
    color: #ffffff;
    transition: 2s all;
}

.menban:hover>.zhonhjian {
    display: none;
}

.er {
    overflow: hidden;
}

.er:hover a {
    color: black;
}

.er:hover>.title {
    display: block;
}

.er:hover::before {
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #FFFF;
    position: absolute;
    left: 49.99%;
    z-index: 99;
}

.er:hover::after {
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #FFFF;
    position: absolute;
    left: 49.99%;
    z-index: 99;
    bottom: 0;
}

.er:hover>img:nth-child(1) {
    transform: scale(1.1);
    transition: 1s all;
}

.title {
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 30%;
    left: 45%;
    display: none;
    transition: all 1s;
    line-height: 45px;
}

.title a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 60px;
    position: relative;
    top: 67px;
    background-color: #ffffff;
}


/* 新闻资讯 */

.newtitle>h1 {
    color: #00acfa;
}

.newtitle::after {
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    background-color: #00acfa;
    position: absolute;
    left: 49.5%;
}

.wenzhang {
    bottom: 0;
    margin-left: 53px;
    margin-bottom: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.neirong {
    width: 440px;
    height: 150px;
}

.neirong h2 {
    font-size: 16px;
}

.neirong h2::after {
    content: "";
    display: block;
    width: 90px;
    height: 5px;
    background-color: #00acfa;
    transition: 1s all;
}

.neirong h2::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #808080;
    position: absolute;
    top: 25px;
}

.newimgs {
    width: 1300px;
}

.newimgs:hover .wenzhang h2 {
    color: #00acfa;
}

.imgkuang {
    width: 600px;
    height: 600px;
}

.imgkuang:hover .wenzhang h2::after {
    width: 150px;
}

.imgkuang:hover img {
    transform: scale(0.95);
    transition: .5s all;
}

.imgkuang:hover {
    transform: translate(0px, -10px) scale(0.99);
    transition: .5s all;
}

.imgkuang:hover>.wenzhang {
    transform: translate(0px, 50px);
    transition: .5s all;
}

.neirong p {
    margin-top: 15px;
    font-size: 14px;
    color: #808080;
}

.xinwen {
    background: url("http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/s3bg.jpg") no-repeat;
    background-size: cover;
}

.xinwen em::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 197px;
    background: url(http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/prev.png) no-repeat;
}

.xinwen em::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 180px;
    background: url(http://demo.kangjingept.com:8020/cssthemes6/1125zh1/static/image/next.png) no-repeat;
}


/* 底部 */

.dibu {
    background: #1b1f27;
    height: 180px;
}

.dibu>div:nth-child(1) {
    padding: 20px;
}

.dibu::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #808080;
    display: block;
    position: absolute;
    top: 100px;
}

.dibu p {
    margin-left: 20px;
    color: #5f6376;
}

.logo1 {
    display: none;
}


/* 多媒体查询 */

@media screen and (min-width:375px) and (max-width:415px) {
    .nav {
        background-size: 100%;
        height: 176px;
    }
    .nav>div:nth-child(1)>div:nth-child(1) {
        width: 100%;
    }
    .nav>div:nth-child(3) {
        position: absolute;
        top: 33%;
        left: 18px;
        width: 90%;
        justify-content: space-between;
    }
    .nav>div:nth-child(3)>div:nth-child(2) {
        visibility: hidden;
    }
    .nav>div:nth-child(3)>div:nth-child(3) {
        right: 0;
    }
    .nav a {
        display: block;
        width: 100px;
        height: 107px;
        line-height: 100px;
    }
    .logo {
        width: 100%;
        margin: 12px 10px;
    }
    .logo1 {
        display: block;
        position: absolute;
        right: 42px;
        top: 21px;
    }
    .nice {
        display: none !important;
    }
    .nice+div {
        display: none !important;
    }
    .d {
        display: none !important;
    }
    /* 中段 */
    .hui,
    .zhongjian {
        width: 100%;
        height: 677px;
    }
    .zhongjian {
        height: 0 !important;
    }
    .zhongjian .banner {
        width: 80%;
        left: 12.1%;
        top: 1%;
        height: 600px;
        margin-top: 31px;
    }
    .zhongjian .banner>div {
        width: 150px;
        height: 150px;
    }
    .bac>div {
        font-size: 9px;
        margin: 0;
        line-height: 29px;
    }
    .dis {
        line-height: 1;
        font-size: 10px;
    }
    .dis>h2 {
        position: absolute;
        top: 37px;
        left: 16px;
    }
    .dis em {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 58px;
        left: 65px;
        transition: 1s all;
    }
    .hei {
        width: 120px;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 15px;
        left: 15px;
        animation: hei 0.5s;
        font-size: 12px;
        display: block;
    }
    .hei h2 {
        top: 40px;
        margin: 0;
        font-size: 6px;
    }
    /* 关于我们 */
    .bei1 {
        position: relative;
        background: none;
        padding: 10px 16px;
        height: 535px;
    }
    .guanyu {
        top: 678px;
    }
    .about {
        width: 350px;
        text-align: left;
        line-height: 33px;
        position: absolute;
        top: 0;
        left: 14px;
        color: #00acfa;
    }
    .about>div:nth-child(3) {
        width: 100%;
        height: 236px;
        overflow: hidden;
    }
    .about>div:nth-child(4) {
        margin-top: 160px;
        margin-left: -45px;
    }
    .about+div {
        width: 92%;
        height: 180px;
        left: 14px;
        top: 360px;
    }
    .about+div em {
        width: 40px;
    }
    /* 主体旅游 */
    .lv {
        position: relative;
        top: 674px;
    }
    .er {
        height: 211px !important;
        top: 674px !important;
    }
    .menban>.zhonhjian {
        width: 200px;
        font-size: 10px;
        top: 23px;
        left: 88px;
    }
    .xinwen {
        background-image: none;
        background-color: #ffffff;
        height: 580px !important;
        top: 674px;
        overflow: hidden;
    }
    .newtitle {
        width: 100% !important;
    }
    .newimgs {
        display: inline-block !important;
        width: 100%;
        height: 480px !important;
    }
    .imgkuang {
        width: 100%
    }
    .wenzhang {
        width: 100% !important;
        height: 200px;
        margin: 0;
    }
    .wenzhang>.neirong {
        width: 90%;
        height: 100px;
    }
    .dibu {
        top: 676px;
    }
    .dibu>div:nth-child(1) {
        margin-left: 98px;
    }
}